<a href="https://colab.research.google.com/github/jeonghyunwoo/nlp_paper/blob/master/smp_crawl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd

def smp(yyyymmdd = pd.datetime.today().strftime('%Y%m%d')):
  url = f"https://www.kpx.or.kr/www/contents.do?key=225&status=land&issueDate={yyyymmdd}&__encrypted=bWMSYnoNUQZWNlsXn4c3D93ovZYSTGXWpNeR1G3EL4XFmBSGdP6jxjQxV0fCOiclQIn%2Byg9Ic9UOnemx54yY3Z0Cjbp89g%2Bmmdfs37WPlls%3D"
  html = requests.get(url).content
  df_list = pd.read_html(html)
  df = df_list[-1]
  
  dt0 = pd.to_datetime(yyyymmdd,format='%Y%m%d')
  cols = ['구분'] + pd.date_range(end=dt0, periods=7).strftime('%y.%m.%d %a').tolist()
  
  df.columns = cols
  return df

In [209]:
smp()

      구분  19.06.22 Sat  19.06.23 Sun  ...  19.06.26 Wed  19.06.27 Thu  19.06.28 Fri
0     1h         78.54         67.52  ...         79.44         78.50         78.54
1     2h         74.73         62.22  ...         78.68         76.84         76.93
2     3h         72.10         60.22  ...         73.90         73.99         70.76
3     4h         66.60         58.75  ...         73.44         73.99         70.80
4     5h         65.26         58.62  ...         73.44         73.99         70.80
5     6h         65.78         58.62  ...         74.04         73.99         77.04
6     7h         70.99         58.75  ...         80.36         79.42         79.28
7     8h         72.10         58.62  ...         80.15         79.62         79.88
8     9h         76.34         58.62  ...         82.75         82.49         81.74
9    10h         76.34         58.62  ...         83.20         82.31         82.26
10   11h         79.87         59.85  ...         83.15         82.18         83.93
11   12h         79.87         60.59  ...         83.15         82.18         83.93
12   13h         76.26         60.59  ...         81.00         82.00         82.07
13   14h         79.58         62.44  ...         83.15         83.81         83.93
14   15h         79.86         63.04  ...         83.59         84.22         83.94
15   16h         79.86         65.92  ...         83.60         84.22         83.96
16   17h         79.87         71.85  ...         83.64         84.22         83.99
17   18h         79.87         71.96  ...         83.68         84.22         83.99
18   19h         80.59         79.34  ...         83.75         83.78         83.61
19   20h         80.59         79.34  ...         82.80         82.23         82.45
20   21h         80.60         85.94  ...         82.23         82.18         82.12
21   22h         80.60         79.34  ...         80.25         83.07         82.09
22   23h         78.56         77.18  ...         79.81         79.71         79.79
23   24h         76.45         68.13  ...         79.81         79.41         79.79
24    최대         80.60         85.94  ...         83.75         84.22         83.99
25    최소         65.26         58.62  ...         73.44         73.99         70.76
26  가중평균         76.52         66.50  ...         80.87         80.91         80.77

[27 rows x 8 columns]