<a href="https://colab.research.google.com/github/jeonghyunwoo/nlp_paper/blob/master/smp_crawl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd

def smp(yyyymmdd):
  url = f"https://www.kpx.or.kr/www/contents.do?key=225&status=land&issueDate={yyyymmdd}&__encrypted=bWMSYnoNUQZWNlsXn4c3D93ovZYSTGXWpNeR1G3EL4XFmBSGdP6jxjQxV0fCOiclQIn%2Byg9Ic9UOnemx54yY3Z0Cjbp89g%2Bmmdfs37WPlls%3D"
  html = requests.get(url).content
  df_list = pd.read_html(html)
  df = df_list[-1]
  
  dt0 = pd.to_datetime(yyyymmdd,format='%Y%m%d')
  cols = ['구분'] + pd.date_range(end=dt0, periods=7).strftime('%y.%m.%d %a').tolist()
  
  df.columns = cols
  return df

In [205]:
smp(20190618)

      구분  19.06.12 Wed  19.06.13 Thu  ...  19.06.16 Sun  19.06.17 Mon  19.06.18 Tue
0     1h         78.53         76.76  ...         71.06         69.84         78.71
1     2h         73.50         74.35  ...         61.69         60.08         78.34
2     3h         70.85         73.65  ...         60.11         58.90         73.86
3     4h         71.18         70.70  ...         60.06         58.90         73.90
4     5h         70.70         72.13  ...         59.91         58.90         73.93
5     6h         76.98         74.35  ...         59.96         65.98         73.97
6     7h         79.16         74.58  ...         60.11         72.03         79.76
7     8h         80.19         79.89  ...         59.96         79.75         80.10
8     9h         79.99         80.12  ...         59.77         81.73         81.73
9    10h         80.48         80.33  ...         59.82         81.73         81.77
10   11h         80.47         80.43  ...         60.46         82.51         81.77
11   12h         80.45         81.11  ...         60.46         82.50         81.77
12   13h         79.89         79.89  ...         65.51         81.26         81.35
13   14h         80.44         82.38  ...         75.78         82.50         83.53
14   15h         82.92         82.37  ...         75.78         83.95         83.53
15   16h         82.92         82.38  ...         75.78         83.95         83.54
16   17h         82.92         82.80  ...         77.20         85.09         83.57
17   18h         82.92         82.86  ...         80.41         85.09         83.44
18   19h         83.15         82.91  ...         80.45         84.35         83.23
19   20h         80.83         83.00  ...         80.45         85.00         82.09
20   21h         81.03         81.02  ...         80.45         82.48         82.26
21   22h         79.64         80.43  ...         80.45         81.16         80.40
22   23h         79.57         80.05  ...         80.53         80.95         79.61
23   24h         79.64         79.51  ...         76.21         80.95         79.44
24    최대         83.15         83.00  ...         80.53         85.09         83.57
25    최소         70.70         70.70  ...         59.77         58.90         73.86
26  가중평균         79.38         79.41  ...         69.79         78.37         80.53

[27 rows x 8 columns]